# Put this in /etc/udev/rules.d/ then run "sudo systemctl reload udev"
#
# PG2SDR, temporary IDs
SUBSYSTEM=="usb", ATTRS{idVendor}=="dead", ATTRS{idProduct}=="beef", GROUP="plugdev", MODE="0660"
# LPC4370 in bootloader mode
SUBSYSTEM=="usb", ATTRS{idVendor}=="1fc9", ATTRS{idProduct}=="000c", GROUP="plugdev", MODE="0660"
